{% extends 'base_template.html'%}
{% load static from static %}

{% block title %}About Capuchins in Tanzania{% endblock %}

{% block content%}

<!-- Contents of the body (Paragraphs) -->
<div class="w3-row navbarpos">

  <div class="w3-col l2 w3-text-white">.</div>

    <div class="w3-col l8">

      <h1 style="font-family: georgia; position: relative; left:13px;">Capuchin Friars Province of Tanzania</h1>

      <div class="w3-container" style="font-family: georgia;">
        <b>ABOUT CAPUCHIN TANZANIA</b>
<p>Living the Gospel life in truth, simplicity and joy today
Capuchin friars serve in parishes, soup kitchens, classrooms, prisons, and hospitals. They work in city neighborhoods, suburbs and rural communities. Capuchins serve among the poor, wealthy and in between. Simply stated, they serve people from all walks of life without regard to race, class, or creed.</p>

<b>VISION</b>
<p>Is to have a society which has been infused and transformed by Franciscan values, and which strives to live as true brothers and sisters.</p>

<b>MISSION</b>
<p>We, the Capuchin Friars in Tanzania, inspired by the gospel of Jesus and the example of St. Francis of Assisi, the Capuchin Friars Minor Province of Tanzania is geared to prayerfully and simply give prophetic witness to Franciscan sister-brotherhood in the world, while we attend to the spiritual and other basic human needs, especially those of the poor and marginalized, promoting peace and justice for all.</p>

<b>THE CORE VALUES</b>
<p>Our Province upholds the values that include faith that promotes love, justice and respect for human dignity, fraternal relationship, reconciliation and peace building, Stewardship of creation and conservation of environment.</p>

<b>WHAT WE DO</b>
<p>The Capuchins at the moment are involved in various ministries including but not limited to Parish ministry, preaching retreats, education, healthcare and chaplaincy ministries.</p>

      </div>

    </div>

  <div class="w3-col l2 w3-text-white">.</div>

</div>



{%endblock%}