{%extends 'base_template.html' %}
{% load static from static%}

{%block title%}EDUCATION MINISTRY{%endblock%}

{%block content%}
<!-- Contents of the body (Paragraphs) -->
<div class="w3-row navbarpos">

  <div class="w3-col l2 w3-text-white">.</div>

    <div class="w3-col l8">

      <div class="w3-card w3-padding-small" style="margin-top: 10px;">
      <img src="{% static 'teaching.jpg' %}" style="width: 100%; max-height: 400px; object-fit: cover;">
      <span>A Capuchin brother teaching Chemistry at Maua seminary.</span>
      </div>

        <div class="w3-container" style="font-family: georgia;">

          <h2 class="w3-brown-text w3-center">Education Ministry</h2>

          <p>As part of our mission to spread the good news to all people, one of the ways the Capuchin brothers in Tanzania
           spread the good news is through providing formal education to the Tanzanian community. Through this we have been able to make a reasonable impact and bring change of thought in the country. Thousands of people went to the Capuchin schools in Tanzania, some of them have become Bishops of the Catholic Church in Tanzania, priests and religious brothers, government leaders, civil servants, to mention but a few.</p>

           <p>The Tanzanian Capuchins own and run one junior seminary <a href="http://mauaseminary.sc.tz/" style="color: blue; text-decoration: none;">Franciscan seminary Maua</a>, one secondary school Capuchin boys secondary school, and one primary school. Our brothers also teach other primary and secondary schools that are not run by the order, and some teach in different universities and colleges.</p>

           <div class="w3-card">
           <img src="{% static 'maua_lab.jpg' %}" style="width: 100%; height: 400px; object-fit: cover;">
           <span class="w3-padding-small">Students at Maua semianry doing a science experiment.</span>
           </div>

          <p>Maua seminary was found in 1970 by the Capuchin missionaries from Switzeland with the intention of preparing Tanzanian young boys aspiring to become Priests and Religious for the local Church in Tanzania. Today there are many priests, lay brothers and even Bishops who studies at the seminary. In October 2020 the seminary celebrated its 50 years Golden Jubilee, an event that not only reunited the Alumni, but also imspired and encouraged the seminarians who are still studying at the seminary. The seminary is located on the slopes of mount Kilimanjaro in the Moshi rural district in the Kilimanjaro region.More than the reunion at the Jubilee the Alumni have an <a href="https://maseaa.or.tz/" style="text-decoration: none; color: blue;">association (MASEA)</a> in which they encourage each other and involve themselves with different religious and charitable activities, a good manifestation of the fraternal spirit they received from the seminary.</p>

          <p>Capuchin boys secondary school is a new school started in 2015 by the Capuchin Friars of the province of Tanzania, intending to expand its ministry to educate the Tanzanian local community, with the values of fraternity, peace and academic excelence. The school is in the district of pangani in Tanga region.</p>

          <p>We also run a primary school in the City of Dodoma, Brothre Martin primary school. The school was named so after a Capuchin brother, Brother Martin also known as "Meku" who during his life here on earth lived as a devout friar and showed a good example to be followed not only by the Capuchin friars but by all the faithful and servants of God.</p>

          <p>As mentioned earlier there are brothers of our province who teach in other schools, universities, seminaries and colleges that are not run by the Capuchins. We have brothers who teach at The Jordan University college in Morogoro, Mwenge university College in Moshi Kilimanjaro, St.Augustine university in Mwanza, Ntungamo major seminary in Kagera, and others in different secondary and primary schools owned by the government, private institions and the Catholic Church in Tanzania.</p>

        </div>

    </div>

  <div class="w3-col l2 w3-text-white">.</div>

</div>

{%endblock%}