{% extends 'base_template.html' %}
{% load static from static %}

{% block content%}
<br>

<div class="w3-container w3-fbrown-theme w3-margin">
  <h1 style="font-family: georgia;">100 Years Jubilee</h1>
</div>

<div class="w3-row-padding w3-margin-top">
  <div class="w3-third">
    <div class="w3-card">
      <img src = "{% static 'general_minister.jpg' %}" style="width:100%">
      <div class="w3-container">
        <h5>General Minister lighting the Jubilee candle.</h5>
      </div>
    </div>
  </div>

  <div class="w3-third">
    <div class="w3-card">
      <img src = "{% static 'general_minister_candle.jpg' %}" style="width:100%">
      <div class="w3-container">
        <h5>The Provincial Minister receives the Candle</h5>
      </div>
    </div>
  </div>

  <div class="w3-third">
    <div class="w3-card">
      <img src = "{% static 'many_jubilee_candles.jpg' %}" style="width:100%">
      <div class="w3-container">
        <h5>Zones Jubilee candles</h5>
      </div>
    </div>
  </div>
</div>

<div class="w3-row-padding w3-margin-top">
  <div class="w3-third">
    <div class="w3-card">
      <img src = "{% static 'gallery/kola_candle2.jpg' %}" style="width:100%">
      <div class="w3-container">
        <h5>Jubilee Candle received at Kola Morogoro</h5>
      </div>
    </div>
  </div>

  <div class="w3-third">
    <div class="w3-card">
      <img src = "{% static 'gallery/kola_candle1.jpg' %}" style="width:100%">
      <div class="w3-container">
        <h5>Jubilee Candle received at Kola Morogoro</h5>
      </div>
    </div>
  </div>

  <div class="w3-third">
    <div class="w3-card">
      <img src = "{% static 'gallery/kola_candle3.jpg' %}" style="width:100%">
      <div class="w3-container">
        <h5>Jubilee Candle received at Kola Morogoro</h5>
      </div>
    </div>
  </div>
</div>


<div class="w3-row-padding w3-margin-top">
  <div class="w3-third">
    <div class="w3-card">
      <img src = "{% static 'gallery/maua_jubilee_candle.jpg' %}" style="width:100%">
      <div class="w3-container">
        <h5>Jubilee Candle received at Maua seminary</h5>
      </div>
    </div>
  </div>

  <div class="w3-third">
    <div class="w3-card">
      <img src = "{% static 'gallery/maua_jubilee_candle1.jpg' %}" style="width:100%">
      <div class="w3-container">
        <h5>Jubilee Candle received at Maua seminary</h5>
      </div>
    </div>
  </div>

  <div class="w3-third">
    <div class="w3-card">
      <img src = "{% static 'gallery/maua_jubilee_candle2.jpg' %}" style="width:100%">
      <div class="w3-container">
        <h5>Jubilee Candle received at Maua seminary</h5>
      </div>
    </div>
  </div>
</div>


<!-- End of photos container -->



{%endblock%}