{% extends 'base_template.html' %}
{% load static from static %}

{% block content%}
<br>

<div class="w3-container w3-fbrown-theme w3-hide-large w3-hide-medium w3-center" style = "margin-top: 60px; margin-left: 15px; margin-right:15px;">
  <h2 style="font-family: georgia;">100 Years Jubilee</h2>
</div>

<div class="w3-container w3-fbrown-theme w3-hide-small w3-hide-medium w3-center" style = "margin-top: 100px; margin-left: 15px; margin-right:15px;">
  <h2 style="font-family: georgia;">100 Years Jubilee</h2>
</div>

<div class="w3-row-padding w3-margin-top w3-margin-bottom">
  <div class="w3-third">
    <div class="w3-card">
      <img src = "{% static 'general_minister_candle.jpg' %}" style="width:100%">
      <div class="w3-container">
        <h5>100 Years Jubilee</h5>
      </div>
    </div>
  </div>

  <div class="w3-third">
    <div class="w3-card">
      <img src = "{% static 'many_jubilee_candles.jpg' %}" style="width:100%">
      <div class="w3-container">
        <h5>The Provincial Minister receives the Candle</h5>
      </div>
    </div>
  </div>

  <div class="w3-third">
    <div class="w3-card">
      <img src = "{% static 'cardinal_pengo.jpg' %}" style="width:100%">
      <div class="w3-container">
        <h5>Zones Jubilee candles</h5>
      </div>
    </div>
  </div>
</div>

<div class="w3-row-padding w3-margin-top">
  <div class="w3-third">
    <div class="w3-card">
      <img src = "{% static 'priests_bishops.jpg' %}" style="width:100%">
      <div class="w3-container">
        <h5>Jubilee Candle received at Kola Morogoro</h5>
      </div>
    </div>
  </div>

  <div class="w3-third">
    <div class="w3-card">
      <img src = "{% static 'gallery/benedictine_brother.jpg' %}" style="width:100%">
      <div class="w3-container">
        <h5>Jubilee Candle received at Kola Morogoro</h5>
      </div>
    </div>
  </div>

  <div class="w3-third">
    <div class="w3-card">
      <img src = "{% static 'gallery/capuchin_nun.jpg' %}" style="width:100%">
      <div class="w3-container">
        <h5>Jubilee Candle received at Kola Morogoro</h5>
      </div>
    </div>
  </div>
</div>


<div class="w3-row-padding w3-margin-top">
  <div class="w3-third">
    <div class="w3-card">
      <img src = "{% static 'gallery/dada_wadogo.jpg' %}" style="width:100%">
      <div class="w3-container">
        <h5>Jubilee Candle received at Maua seminary</h5>
      </div>
    </div>
  </div>

  <div class="w3-third">
    <div class="w3-card">
      <img src = "{% static 'gallery/children_dancing.jpg' %}" style="width:100%">
      <div class="w3-container">
        <h5>Jubilee Candle received at Maua seminary</h5>
      </div>
    </div>
  </div>

  <div class="w3-third">
    <div class="w3-card">
      <img src = "{% static 'gallery/government_man.jpg' %}" style="width:100%">
      <div class="w3-container">
        <h5>Jubilee Candle received at Maua seminary</h5>
      </div>
    </div>
  </div>
</div>


<!-- End of photos container -->



{%endblock%}