{% extends 'base_template.html' %}

{%block title%}CAPUCHIN NEWS{%endblock%}

{%block content%}
<div class="w3-row w3-padding w3-container navbarpos">
    <div class="w3-col l2" style="color:white;">Capuchin</div>
    <div class="w3-col l7" style="font-family:georgia;">
    <h1 style = "font-family:Georgia" class="w3-center">News</h1>
    {% for news in news_list%}
        <div class="news">
            <h2 style="font-family:georgia;"><a href="{% url 'details' slug=news.slug %}">{{ news.title }}</a></h2>
            <p>{{ news.snippest|safe}}</p>
            <p style="font-family:georgia;">{{news.date}}</p>
        </div>
        <hr style="height:1px; border-width:0; color:grey; background-color:grey;">
    {% endfor %}
     </div>
    <div class="w3-col l2" style="color:white;">Capuchin</div>
</div>
{%endblock%}