{% extends 'base_template.html' %}
{% load static from static%}
{%block title%}OUR PARISHES{%endblock%}
{%block content%}

<!-- Contents of the body (Paragraphs) -->
<div class="w3-row navbarpos">

  <div class="w3-col l2 w3-text-white">.</div>

    <div class="w3-col l8">

      <div class="w3-container" style="font-family: georgia;">

        <h2 class="w3-brown-text w3-center">Parish Ministry</h2>

        <div class="w3-card">
           <img src="{% static 'eucharist1.jpg' %}" style="width: 100%; height: 400px; object-fit: cover;">
        </div>

        <p>The primary mission of the first Capuchin missionary in Tanzania was to establish a local church in Tanzania. In this they built many churches and did parish ministry in different parts of Tanzania. After a time the mission was quite successful and the brothers had a great impact to the local church. This resulted for there to be parishes run by the Capuchin Friars even a long time after the mission success.</p>
        <p>As for the year 2021 The Capuchin friars in Tanzania were present in 22 parishes in all the geographical zones in Tanzania. The following is the list of the Parishes run by the Capuchin friars minor of the province of Tanzania.</p>


      <!-- Table listing parishes -->
      <table class="w3-table-all">
    <thead>
      <tr style="background-color:#331a00; color: white;">
        <th>Dioces</th>
        <th>Parish name</th>
        <th>Address</th>
      </tr>
    </thead>
    <tr>
      <td>ARUSHA</td>
      <td>Kwangulelo parish</td>
      <td>P.O.BOX 1507 ARUSHA</td>
    </tr>
    <tr>
      <td>DAR ES SALAAM</td>
      <td>Buguruni Parish</td>
      <td>P.O.BOX 41241, DAR ES SALAAM</td>
    </tr>
    <tr>
      <td>DAR ES SALAAM</td>
      <td>Kizuiani parish</td>
      <td>P.O.BOX 100002, DAR ES SALAAM</td>
    </tr>

    <tr>
      <td>DAR ES SALAAM</td>
      <td>Mbagala parish</td>
      <td>P.O.BOX 100012, DAR ES SALAAM</td>
    </tr>

    <tr>
      <td>DAR ES SALAAM</td>
      <td>Msimbazi parish</td>
      <td>P.O.BOX 25086, DAR ES SALAAM</td>
    </tr>

    <tr>
      <td>DAR ES SALAAM</td>
      <td>Ulongoni parish</td>
      <td>P.O.BOX 18105, DAR ES SALAAM</td>
    </tr>

    <tr>
      <td>DAR ES SALAAM</td>
      <td>Upanga parish</td>
      <td>P.O.BOX 2757, DAR ES SALAAM</td>
    </tr>

    <tr>
      <td>DAR ES SALAAM</td>
      <td>Vingunguti parish</td>
      <td>P.O.BOX 40023, DAR ES SALAAM</td>
    </tr>

  <tr>
      <td>DODOMA</td>
      <td>Hemba Hemba parish</td>
      <td>P.O.BOX 37 KONGWA</td>
    </tr>

    <tr>
      <td>DODOMA</td>
      <td>Kibaigwa parish</td>
      <td>P.O.BOX 37 KONGWA</td>
    </tr>

    <tr>
      <td>DODOMA</td>
      <td>Kongwa parish</td>
      <td>P.O.BOX 37, KONGWA</td>
    </tr>

    <tr>
      <td>DODOMA</td>
      <td>Mkoka parish</td>
      <td>P.O.BOX 37, KONGWA</td>
    </tr>

    <tr>
      <td>DODOMA</td>
      <td>Mlali parish</td>
      <td>P.O.BOX 37, KONGWA</td>
    </tr>

    <tr>
      <td>IFAKARA</td>
      <td>Mchombe parish</td>
      <td>P.O.BOX 109, IFAKARA</td>
    </tr>

    <tr>
      <td>KAHAMA</td>
      <td>Nyasubi parish</td>
      <td>P.O.BOX 561, KAHAMA</td>
    </tr>

    <tr>
      <td>MAHENGE</td>
      <td>Chikuti parish</td>
      <td>P.O.BOX 104, MAHENGE / MOROGORO</td>
    </tr>

    <tr>
      <td>MBEYA</td>
      <td>Lubele parish</td>
      <td>P.O.BOX 179 MBEYA</td>
    </tr>

    <tr>
      <td>MBULU</td>
      <td>Endamarariek parish</td>
      <td>P.O.BOX 66 KARATU</td>
    </tr>

    <tr>
      <td>MBULU</td>
      <td>Kainam parish</td>
      <td>P.O.BOX 66 KARATU</td>
    </tr>

    <tr>
      <td>MBULU</td>
      <td>Kilimamoja parish</td>
      <td>P.O.BOX 66 KARATU</td>
    </tr>

    <tr>
      <td>MBULU</td>
      <td>Rhotia parish</td>
      <td>P.O.BOX 66 KARATU</td>
    </tr>

    <tr>
      <td>MWANZA</td>
      <td>Nyegezi parish</td>
      <td>P.O.BOX 1809, MWANZA</td>
    </tr>

    </table><br>



      </div>

    </div>

  <div class="w3-col l2 w3-text-white">.</div>

</div>


{%endblock%}